@import url('https://fonts.googleapis.com/css?family=Spectral&display=swap');

body {
    padding-top: 15%;
    width: 100%;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    font-family: 'Spectral', serif
    color: #fff;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

.fixed-header, .fixed-footer{
        width: 100%;
        left: 0;
        position: fixed; 
        background: #fff;
    }
    .fixed-header{
        top: 0;
        list-style: none;
        
    }
    .fixed-footer{
        bottom: 0;
    } 

