@import url('https://fonts.googleapis.com/css?family=Spectral&display=swap');

body {
    width: 100%;
    top:10%;
    padding-top:40%;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    font-family: 'Spectral', serif;
    text-alignment: center;
    color: #000000;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #000000;
}

.container, .hidden-container{
    right:5%;
    width: 90%;
    background-color: #ffffff;
}

.hidden-container{
    opacity: 0;
}

.fixed-header, .fixed-footer{
        width: 100%;
        height: 10%;
        left: 0;
        position: fixed; 
    }
.fixed-header{
    top: 0;
    padding: 0px;
    list-style: none;
}
.fixed-footer{
    bottom: 0;
    text-align:center;
} 

.icon-flex{
    top:0px;
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
    align-items: flex-start;
}

    /* ANIMATED BODY */
    .slideUp {
      animation-name: slideUp; 
      webkit-animation-name: slideUp; 
      animation-duration: 2s; 
      -webkit-animation-duration: 2s; 
      visibility: visible;
      animation-fill-mode: forwards;
    }
    @keyframes slideUp {
      0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
      } 
      100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
      }
    }
    @-webkit-keyframes slideUp {
      0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
      } 
      100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
      }
    }
      
    .slideDown {
      animation-name: slideDown; 
      animation-duration: 2s; 
      visibility: visible;
      animation-fill-mode:forwards;
      -webkit-animation-duration: 2s; 
      webkit-animation-name: slideDown; 

    }
    @keyframes slideDown {
      0% {
        opacity: 1;
        -webkit-transform: translateY(0%);
      } 
      100% {
        opacity: 0;
        -webkit-transform: translateY(70%);
        
      }
    }
    @-webkit-keyframes slideDown {
      0% {
        opacity: 1;
        -webkit-transform: translateY(0%);
      } 
      100% {
        opacity: 0;
        -webkit-transform: translateY(70%);
      }
    }
      
    .makeOpaque {
      top:0; padding:0px; list-style:none;
      animation-name: makeOpaque; 
      webkit-animation-name: makeOpaque; 
      animation-duration: 1s; 
      -webkit-animation-duration: 1s; 
      visibility: visible;
      animation-fill-mode: forwards;
    }
    @keyframes makeOpaque {
      0% {
        opacity: 0;
        background-color: #000000;
      } 
      100% {
        opacity: 1;
        background-color: #000000;
      }
    }
    @-webkit-keyframes makeOpaque {
      0% {
        opacity: 0;
        background-color: #000000;
      } 
      100% {
        opacity: 1;
        background-color: #000000;
      }
    }
