@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@color-base:#75baff;
@bg-color:#fff;
@bg-compl:#000;

@font-face{
  font-family:'Tiempos';
  src:url('../imgs/TiemposHeadline-Semibold.otf')
}

body {
    width: 100vw;
    height:100vh;
    background-color:@bg-compl;
}

body::-webkit-scrollbar { display:none}

.wrapper {
    position:relative;
    width:100%;
    height:100%;
    overflow-x:hidden;
    background-color: @bg-color;

    #title {      
      position: absolute;
      width: 99px;
      height: 100px;
      left: 151px;
      top: 100px;
      margin:0;
      margin-left:25px;

      font-family:'Tiempos', serif;
      font-style: normal;
      font-weight: bold;
      font-size: 50px;
      line-height: 72px;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.232836px;

      color: #FFFFFF;
    }

    #logo {
      position: absolute;
      width: 100px;
      height: 100px;
      left: 150px;  
      top: 100px;
      background: #2F80ED;
    }

    #subtitle {
      position: absolute;
      display:inline;
      width: 800px;
      height: 76px;
      left: 150px;
      top: 250px;

      font-family:'Tiempos';
      font-style: normal;
      font-weight: 500;
      font-size: 32px;
      line-height: 38px;

      color: #000000;
      p {
        display:inline;
        color:#2F80ED;
      }
      p2 {
        display:inline;
        color:#ff6d6d;
      }
    }
    .exhibit{
      position: absolute;
      width: 1120px;
      height: 400px;
      left: 150px;
      top: 375px;
      background-color: #f0f0f0;

      img {
        height:400px;
      }

      #info{
        position:absolute;
        top:91px;
        height:200px;
        width:300px;
        left:771px;
        text-align:left;
        color:black;

        p{
          display:inline;
          width: 800px;
          height: 76px;
          left: 150px;
          top: 250px;

          font-family:'Tiempos';
          font-style: normal;
          font-weight: 500;
          font-size: 32px;
          line-height: 38px;

          color: #000000;
        }

        p2, p3{
          font-family: 'Roboto';
          font-size: 16px;
          line-height: 19px;

          color: #777777;
        }

        p2{
          position:absolute;
          font-style: normal;
          font-weight: 700;
          width: 280px;
          height: 40px;
          left: 0px;
          top: 40px;
          font-size:18px;
        }

        p3{
          position:absolute;
          width: 250px;
          height: 40px;
          left: 0px;
          top: 65px;

          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 18px;

          color: #777777;
        }

        a {
          position: absolute;
          width: 200px;
          height: 40px;
          left: 0px;
          top: 120px;
          display:flex;
          font-family: Roboto;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 18px;
          color:#fff;
          text-decoration:none;
          flex-direction:column;
          align-items:center;
          justify-content:center;

          background: #C4C4C4;
        }

      }
    }

}

