@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@color-base:#75baff;
@bg-color:#fff;
@bg-compl:#000;

@font-face{
  font-family:'Tiempos';
  src:url('../imgs/TiemposHeadline-Semibold.otf')
}

body {
    width: 100vw;
    height:100vh;
    background-color:@bg-compl;
}

body::-webkit-scrollbar { display:none}

.wrapper {
    position:relative;
    width:100vw;
    height:100vh;
    overflow-x:hidden;
    background-color: @bg-color;

    #title {      
      position: absolute;
      width: 8vw;
      height: 8vw;
      left: 12vw;
      top: 8vw;
      margin:0;
      margin-left:2vw;

      font-family:'Tiempos', serif;
      font-style: normal;
      font-weight: bold;
      font-size: 4vw;
      line-height: 6vw;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.02vw;

      color: #FFFFFF;
    }

    #logo {
      position: absolute;
      width: 8vw;
      height: 8vw;
      left: 12vw;  
      top: 8vw;
      background: #2F80ED;
    }

    #subtitle {
      position: absolute;
      display:inline;
      width: 64vw;
      height: 6vw;
      left: 12vw;
      top: 20vw;

      font-family:'Tiempos';
      font-style: normal;
      font-weight: 500;
      font-size: 3vw;
      line-height: 3.2vw;

      color: #000000;
      p {
        display:inline;
        color:#2F80ED;
      }
      p2 {
        display:inline;
        color:#ff6d6d;
      }
    }
    .exhibit{
      position: relative;
      width: 60vw;
      height: 20vw;
      left: 12vw;
      top:32vw;
      margin-bottom: 4vw;
      background-color: #f0f0f0;

      img {
        width:36vw;
        height:20vw;
        clip:inherit;
        object-fit: cover;
      }

      #info{
        position:absolute;
        display:block;
        top:2.5vw;
        height:16vw;
        width:19.5vw;
        left:38.5vw;
        text-align:left;
        color:black;

        p{
          display:inline;
          width: 64vw;
          height: 7vw;

          font-family:'Tiempos';
          font-style: normal;
          font-weight: 500;
          font-size: 2vw;
          line-height: 2vw;

          color: #000000;
        }

        p2, p3{
          font-family: 'Roboto';
          font-size: 1.2vw;

          color: #777777;
        }

        p2{
          position:relative;
          line-height: 1.6vw;
          font-style: normal;
          font-weight: 700;
          width: 18vw;
          height: 3vw;
          font-size:1.2vw;
        }

        p3{
          position:relative;
          line-height: 1.3vw;
          width: 18vw;
          height: 1.2vw;
          left: 0px;
          top: 0.7vw;

          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 1.0vw;
          line-height: 1.2vw;

          color: #777777;
        }

        a {
          position: absolute;
          width: 16vw;
          height: 3vw;
          left: 0px;
          top: 12vw;
          display:flex;
          font-family: Roboto;
          font-style: normal;
          font-weight: 600;
          font-size: 1.1vw;
          line-height: 1.2vw;
          color:#fff;
          text-decoration:none;
          flex-direction:column;
          align-items:center;
          justify-content:center;

          transition:0.4s;
          background: #C4C4C4;
        
          &:hover{
            background:#22acea;
          }
        
        }

        
      }
    }

    .cs{
      margin-top:20vw;
      left: 12.0vw;
      position:absolute;
      font-family:'DM Sans',sans-serif;
      
      h1{
        font-size: 60px;
        line-height: 40px;
      }

      h2{
        font-style:normal;
        font-weight: bolder;
        font-size: 30px;
      }
      p{
        width:60vw;
        font-size: 20px;
      }
      li{
        font-size:20px;
      }

    }

    a{
      text-align:left;
      text-decoration:none;
      font-family:'Roboto',sans-serif;
      color:#2F80ED;

      &:hover{  
        transition:0.4s;
        color:#F7DC6F;
      }
    }

    

}

