
@color-base:#75baff;

.icon-flex{
    margin:auto;
    width:25vw;
    height:3vw;
    border-top: 1px solid #f0f0f0;
    display:flex;
    flex-direction:row;
    position:fixed;
    bottom:1vw;
    justify-content: center;
    align-items: flex-start;

    a{
        float:left;
        padding:1vw;
        width:0px;
        height:0px;

        span{
          position:relative;
          margin-top:-1vw;
          margin-left:-0.75vw;
        }
    }

    .flex_elt{
        color:@color-base;
    }
      
}

.menu{
    float:right;
    margin:0;
    line-height:2vw;
    z-index:1;
    position:fixed;
    width:25vw;
    height:100%;
    background:#fff;
    right:-30vw;
    top:0;
    text-align:center;
    padding-left:2.5vw;
    padding-right:2.5vw;
    line-height:normal;
    transition:0.7s;

    .menu-text{
      position:fixed;
      width:25vw;
      margin-top:20vw;
      opacity:0;
      transition:0.7s;
      animation-delay:0.7s;
      animation:ease-in-out;

      h2{
        font-size:2vw;
        text-align:left;
        font-family:'grad',serif;
      }
  
      p{
        font-size:1vw;
        text-align:left;
        line-height:1.6em;
        font-family:'Archivo',sans-serif;
      }

      a{
        font-size:1vw;
        text-align:left;
        text-decoration:none;
        font-family:'Archivo',sans-serif;
        color:@color-base
      }

    }
    
    .active{
        margin-top:10vw;
        opacity:1;
    }

    .nav{
      top:9vw;
      border-bottom:1px solid #f0f0f0;
      padding-bottom:1vw;
      font-size:1vw;
      width:25vw;
      position:relative;
      display:flex;
      justify-content:space-around;
    }

    button{
      border:0;
      background-color:#fff;
      color:#000;
      font-size:1vw;
      font-family:'Arvo',sans-serif;
      transition:0.4s;
      clip-path:none;
      &:hover{
        clip-path:circle(100%) at 0 0;
        background-color:@color-base;
        color:#F7DC6F;
      }
    }

    a{
        color: @color-base;
        text-decoration:none;
        font-size:1vw;
        font-family: 'Archivo', sans-serif;
        transition:0.4s;
        padding-top:1vw;

        &:hover{
            color:#F7DC6F;
        }
    }

    #icon{
      font-size:1.5vw;
      padding-right:2.5vw;
    }
}



#chk{
  position:absolute;
  visibility:hidden;
  z-index:-1111;
}

  .show-menu, .hide-menu{
    display: block;
  }

  .wrapper{
    position:fixed;
    width:100%;
    height:100%;
    left:0;
    top:0;
    transition:0.7s;
  }

  .hide-menu{
    position:absolute;
    top:1vw;
    right:2vw;
  } 

  #chk:checked ~ .menu{
    right:4vw;
  }

  #chk:checked ~ .wrapper{
    left:-25vw;
    opacity:0.5;
    overflow-y:hidden;
  }
  

/*Menu Button*/

.menu-btn-bar{
  position:fixed;
  width: 4.3vw;
  height:100%;
  float:right;
  right:0;
  top:0;
  border-left:1px solid #f0f0f0;
  background-color:#fff;
  z-index:3;
}

.menuBtn {
  display: inline;
  width: .7vw; //DONT BELIEVE THE COMPILERS LIES
  height: .6vw;
  margin: -0.7vw 0 0 -1vw;
  cursor:pointer;
  top:1.5vw;
  right:1.3vw;
  position: fixed; 
  padding-right:1vw;
  padding-top:1vw;
  z-index:5;
}

.menuBtn span,
.menuBtn::before,
.menuBtn::after {
  display: block;
  position: absolute;
  width: 100%;
  height: .4vw;
  border-radius:.2vw;
  right: 0px;
  background: @color-base;
  transition: all .5s ease-in-out;
}

.menuBtn span {
  top: 39%;
 
}

.menuBtn::before,
.menuBtn::after {
  content: "";
}

.menuBtn:hover::before,
.menuBtn:hover::after{
  background-color:#F7DC6F;
}

.menuBtn:hover > span{
  background-color:#F7DC6F;
}

.menuBtn::before {
  top: 0px;
}

.menuBtn::after {
  bottom: -.06vw;
}

.menuBtn.type1.close span {
  opacity: 0;
}

.menuBtn.type1.close::before {
  top: 0.6vw;
  transform: rotate(45deg);
}

.menuBtn.type1.close::after {
  bottom: 0.6vw;
  transform: rotate(-45deg);
}
