<!DOCTYPE html>
  <html>
    
    <!-- IMPORTING FONTAWESOME ICONS -->
    <script defer src="https://use.fontawesome.com/releases/v5.4.1/js/all.js" integrity="sha384-L469/ELG4Bg9sDQbl0hvjMq8pOcqFgkSpwhwnslzvVVGpDjYJ6wJJyYjvG3u8XW7" crossorigin="anonymous"></script>
    
    <!-- IMPORTING SPECTRAL FONT, MAIN.CSS -->
    <head>
      <link href="https://fonts.googleapis.com/css?family=Spectral&display=swap" rel="stylesheet">
      <title>{{ page.title}}</title>
      <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    
    <!-- TOP LINKS -->
    <body background="/imgs/bg.png">
      <nav>
      <div class="fixed-header">
        <a href="/">home</a>
        <a href="/about">		about</a>
        <a href="/design"> 	 design</a>
        <div class="icon-flex">
          <a href="mailto:jayang@ucsd.edu" style="text-decoration:none">
      	  <span class="fa-stack fa-lg">
          	<i class="fas fa-envelope-square fa-stack-2x"></i>
      	  </span>
   		    </a>
    	    <a href="https://github.com/caicutec"style="text-decoration:none">
      	    <span class="fa-stack fa-lg">
            	<i class="fab fa-github-square fa-stack-2x"></i>
         	</span>
        	</a>
          <a href="#"style="text-decoration:none">
          	<span class="fa-stack fa-lg">
           	  <i class="fa fa-plus fa-stack-2x"></i>
          	</span>
    	    </a>
        </div>
      </div>
      </nav>
      <div class="container">
      
      {{ content }}
      
      </div>
      
      <div class="fixed-footer">
      
    </div>
  </body>
</html>
