<!DOCTYPE html>
  <html>
    
    <script defer src="https://use.fontawesome.com/releases/v5.4.1/js/all.js" integrity="sha384-L469/ELG4Bg9sDQbl0hvjMq8pOcqFgkSpwhwnslzvVVGpDjYJ6wJJyYjvG3u8XW7" crossorigin="anonymous"></script>
    
    <head>
      <link href="https://fonts.googleapis.com/css?family=Spectral&display=swap" rel="stylesheet">
      <title>{{ page.title}}</title>
      <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
      <nav>
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/design">design</a></li>
      </ul>
      </nav>
      <div class="container">
      
      {{ content }}
      
      </div>
      
      <div class = iconFlex>
    <a href="#" style="text-decoration:none">
      <span class="fa-stack fa-lg">
          <i class="fa fa-square fa-stack-2x" style = "color:#000000"></i>
          <i class="fa fa-map fa-stack-1x fa-inverse"></i>
      </span>
    </a>
    <a href="#"style="text-decoration:none">
      <span class="fa-stack fa-lg">
        <i class="fa fa-square fa-stack-2x" style = "color:#000000"></i>
        <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
      </span>
    </a>
    <a href="#"style="text-decoration:none">
      <span class="fa-stack fa-lg">
        <i class="fa fa-square fa-stack-2x" style = "color:#000000"></i>
        <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
      </span>
    </a>
    <a href="#"style="text-decoration:none">
      <span class="fa-stack fa-lg">
          <i class="fa fa-square fa-stack-2x" style = "color:#000000"></i>
          <i class="fa fa-user fa-stack-1x fa-inverse"></i>
        </span>
    </a>
</div>
      
      <footer>
      <ul>
        <li><a href="mailto:jayang@ucsd.edu">email me</a></li>
        <li><a href="https://github.com/caicutec">github</a></li>
      </ul>
    </footer>
  </body>
</html>
