<!DOCTYPE html>
  <html>
    <head>
      <link href="https://fonts.googleapis.com/css?family=Spectral&display=swap" rel="stylesheet">
      <title>{{ page.title}}</title>
      <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
      <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
      </ul>
      </nav>
      <div class="container">
      
      {{ content }}
      
      </div>
      <footer>
      <ul>
        <li><a href="mailto:jayang@ucsd.edu">email</a></li>
        <li><a href="https://github.com/caicutec">github</a></li>
      </ul>
    </footer>
  </body>
</html>
